body {
  color: black;
  background-color: azure;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: larger;
}
form {
  float: right;
  margin-top: 30px;
}
#forecast {
  text-align: center;
  font-size: 40px;
  padding-bottom: 60px;
  padding-top: 45px;
  border: 10px;
}

footer {
  text-align: center;
  margin-top: 225px;
  color: lightgrey;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  font-size: 25px;
  color: blue;
}
h2 {
  color: blue;
  font-size: 30px;
  display: inline-block;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 20px;
}
h1 {
  font-size: 37px;
  margin-top: 40px;
  display: inline-block;
  text-align: left;
  margin-left: 50px;
}

.col-2 {
  font-size: 30px;
}
.emoji {
  font-size: 75px;
}
.sunny {
  font-size: 85px;
  margin-top: 35px;
}
#GitRepo {
  text-align: center;
}
